@font-face {font-family: "BwModelica-Medium";
  src: url("./assets/fonts/25b37831529b1fe1a47649b945dda302.eot"); /* IE9*/
  src: url("./assets/fonts/25b37831529b1fe1a47649b945dda302.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("./assets/fonts/25b37831529b1fe1a47649b945dda302.woff2") format("woff2"), /* chrome、firefox */
  url("./assets/fonts/25b37831529b1fe1a47649b945dda302.woff") format("woff"), /* chrome、firefox */
  url("./assets/fonts/25b37831529b1fe1a47649b945dda302.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("./assets/fonts/25b37831529b1fe1a47649b945dda302.svg#BwModelica-Medium") format("svg"); /* iOS 4.1- */
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "BwModelica-Medium" !important;
}

body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}